<div class="container mt-5">
  <div class="col-md-4 offset-md-4">
    <div class="card text-center bg-dark animate__animated animate__zoomIn">
      <img src="https://cdn5.cdn-telegram.org/file/ZhKDgwGbM78xiZg9QImVm0R4dg1rUgX9jUIJCCHuEVAHceMVoKarwO7havZKw4KkPj8F2nSdMypAlvwI3ywfp3ZbBQa-ieUcSqAlBqyHKW4UptqurqtlZ4Q4MCSnmelYdY2s44g3g0MdRpqSyzGcs4QQG2ndBuG1BOCIfV61fq13LLvKkEDpJz7LbGncjfRSVzNL5JKmDo2WIY7wiWNmnuA_duovqT9AjlNs852waai_yIILokhcMBL2N0rrgZV4E-DwgYEJ-wjUKcPA-lnFi1uQKUUBctCqUB-_Zdu98Pkuo0QX_sya93n73ZwgSiF6ubHUlWfLZaNOZ3S3xQmsAQ.jpg" width="150" height="150">
      <h5 class="mt-4 text-light">
        <b>Mega Jiffy.Mo</b>
      </h5>
      <a (click)="prompt()" class="a">Join Group</a>
    </div>
  </div>
</div>

<footer class="text-center">
  Prod by <a href="https://www.golden-future.org">Golden Future</a>
</footer>